- name: Install patch
  yum:
    name: patch
    state: latest

- name: Apply patch to /etc/php-fpm.d/www.conf
  patch:
    src: php-fpm.d/www.conf.patch
    dest: /etc/php-fpm.d/www.conf
  notify: Restart php-fpm

- name: Apply patch to /etc/nginx/conf.d/default.conf
  patch:
    src: nginx/conf.d/default.conf.patch
    dest: /etc/nginx/conf.d/default.conf
  notify: Restart nginx
